body {
    background-color: slateblue;
}

.starActive {
    color: orange;
}

.searchRow {
    background-color: lightgrey;
    border-radius: 6px;
    overflow: hidden;    
}

.carousel-inner img {
    margin: auto;
}

.nostyle-link {
    color: white;
    text-decoration: none;
}

.searchThumb {
    border-radius: 5px;
}

h3 {
    color: lightgrey;
}

label {
    color: lightgrey;
    font-size: 2rem;
}
