body, html {
    height: 100%;
}

hr {
    color: yellow;
}

.carousel,.item,.active{
   height:100%;
 }
.carousel-inner{
    height:100%;
}



.activeStar{
    color: orange;
}

.favorite {
    color: black;
}

.favorite:hover {
    transform: scale(1.2);
    color: tomato;
}

.unfavorite {
    color: tomato;
}

.unfavorite:hover {
    transform: scale(1.2);
    color: gray;
}

.fill{
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
}

body {
    background-color: slateblue;
}

.reviewBlurb {
    border-radius: 4px;
}

#carousel {
    width: 100%
}

.socialNav, .board {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    /*opacity: 0.5;*/
}

.card {
    border: none;
}



.active .subNavLink {
    background-color: greenyellow;
}

.subNavLink {
    color: lightgray;
}

.starActive {
    color: orange;
}

.searchRow {
    background-color: lightgrey;
    border-radius: 6px;
    overflow: hidden;    
}

.carousel-inner img {
    margin: auto;
}

.nostyle-link {
    color: white;
    text-decoration: none;
}

.searchThumb {
    border-radius: 5px;
}

h3 {
    color: lightgrey;
}

label {
    color: lightgrey;
    font-size: 2rem;
}
